{% assign limit = include.limit | default: -1 %}
{% assign more_page = include.more_page | default: '/articles.html' %}
{% assign posts = site.pages
  | where_exp: "p", "p.path contains 'blog/en/'"
  | sort: "date"
  | reverse
%}
{% assign post_count = posts | size %}
{% if limit == -1 %}
  {% assign l = post_count %}
{% else %}
  {% assign l = limit %}
{% endif %}

<ul>
  {% for post in posts limit: l %}
  <li>
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    
    <time class="parenthesized" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
  </li>
  {% endfor %}
</ul>
{% if post_count > l %}
<nav>
  <a href="{{ more_page }}">See all</a>
</nav>
{% endif %}
