<style type="text/css">
  .parenthesized::before {
    content: '('
  }

  .parenthesized::after {
    content: ')'
  }
</style>

{% if page.layout == 'home' or page.enable_github_repo %}
  {% assign enable_github_repo = true %}
{% else %}
  {% assign enable_github_repo = false %}
{% endif %}
{% if page.layout == 'home' or page.enable_portfolio %}
  {% assign enable_portfolio = true %}
{% else %}
  {% assign enable_portfolio = false %}
{% endif %}

<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

{% if enable_github_repo %}
<link rel="stylesheet" href="{{ '/assets/css/github-repo-card.css' | relative_url }}">
{% endif %}

{% if enable_portfolio %}
<link rel="stylesheet" href="{{ "/assets/css/portfolio.css?v=" | append: site.github.build_revision | relative_url }}">
{% endif %}

{% if enable_github_repo %}
<script src="{{ '/assets/js/github-repo-card.js' | relative_url }}" defer></script>
{% endif %}

{% if enable_portfolio %}
<script src="{{ '/assets/js/portfolio-carousel.js' | relative_url }}" defer></script>
{% endif %}
